.form-check-input {
    border-radius: 0 !important;
    appearance: auto !important;
    box-shadow: none !important;
    width: auto;
    height: auto;
}

.form-check-label {
    display: inline-block;
    margin-left: 5px;
    font-weight: 400;
    font-size: 16px;
    color: #393F41;
    font-family: 'Poppins-Regular',-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
}