.form-check-radio {
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: 0.3s;
}

.form-radio-label {
    display: inline-block;
    margin-left: 5px;
    font-weight: 400;
    font-size: 24px;
    color: #575d67;
    font-family: 'Poppins-Regular',-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    cursor: pointer;
}