
body {
    background-color: #F8F9FA;
}
.nav-link {
    color: #393F41;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    background-color: #C8CDD0;
    border-radius: 4px 4px 0 0;
    border-color: #FFF !important;
    padding: 10px;
    line-height: 1.2;
  }
  
  .nav-link.active {
    color: #090A0B !important;
    font-family: 'Poppins';
    font-weight: 500;
    border-radius: 4px 4px 0 0;
    border-color: #FFF !important;
  }

  .nav-tabs {
    border-bottom: 1px solid #FFF;
    gap: 4px;
  }

  .nav-link:hover {
    background: #FFF;
    color: #090A08;
    border-color: #FFF !important;
  }

  .home-content {
    color: #090A0B !important;
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 14px;
    word-wrap: break-word;
    padding: 10px 15px 15px 15px;
  }
  
  .profile-content {
    color: #090A0B !important;
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 14px;
    word-wrap: break-word;
    padding: 10px 15px 15px 15px;
  }
  
  .contact-content {
    color: #090A0B !important;
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 14px;
    word-wrap: break-word;
    padding: 10px 15px 15px 15px;
  }