@import '../master.less';

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
  }

.form-check-input {
    width: 22px !important;
    height: 22px !important;
    cursor: pointer;
    transition: 0.3s;
}

.form-check-label {
    margin-left: 5px;
    font-weight: 400;
    font-size: 24px;
    color: #575d67;
    font-family: 'Poppins-Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    cursor: pointer;
}